In [1]:
import os
import csv
import pandas as pd
from pathlib import Path

In [2]:
# File to Load (Remember to Change These)
#school_data_to_load = Path("Resources/schools_complete.csv")
#student_data_to_load = Path("Resources/students_complete.csv")

school_data_csv = os.path.join("Resources","schools_complete.csv")
student_data_csv = os.path.join("Resources","students_complete.csv")

output_file = os.path.join("schools_complete_step1.txt")

In [3]:
# Read School and Student Data File and store into Pandas DataFrames

school_data = pd.read_csv(school_data_csv)
student_data = pd.read_csv(student_data_csv)

# Combine the data into a single dataset.  

combined_df = pd.merge(school_data,student_data,how="left")

In [4]:
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [5]:
combined_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [6]:
# Calculate the total number of unique schools
school_count = len(combined_df["school_name"].unique())
print("Total number of unique schools",school_count)

Total number of unique schools 15

In [7]:
# Calculate the total number of students
student_count = combined_df["Student ID"].count()
print("Total students",student_count)

Total students 39170

In [8]:
# Calculate the total budget
total_budget = combined_df["budget"].sum()
print("Total budget", total_budget)

Total budget 82932329558

In [9]:
# Calculate the per student budget
per_student_budget = total_budget / student_count
print("Per student budget", round(per_student_budget,2))

Per student budget 2117240.99

In [10]:
# Calculate the average (mean) math score
average_math_score = combined_df["math_score"].mean()
print("Average math score",round((average_math_score),2),"%")

Average math score 78.99 %

In [11]:
# Calculate the average (mean) reading score
average_reading_score = combined_df["reading_score"].mean()
print("Average reading score",round((average_reading_score),2),"%")

Average reading score 81.88 %

In [12]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = combined_df[(combined_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print("Percentage of students who passed math with >=70% equals",round(passing_math_percentage,2),"%")

Percentage of students who passed math with >=70% equals 74.98 %

In [13]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = combined_df[(combined_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print("Percentage of students who passed reading with >=70% equals",round(passing_reading_percentage,2),"%")

Percentage of students who passed reading with >=70% equals 85.81 %

In [14]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = combined_df[
    (combined_df["math_score"] >= 70) & (combined_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
print("Percentage of students who passed math and reading with =>70% equals",round(overall_passing_rate,2),"%")

Percentage of students who passed math and reading with =>70% equals 65.17 %

In [15]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary =  pd.DataFrame(
    {"Total Schools": [school_count],
        
    "Total Students": [student_count],

    "Total school budget": [total_budget],
    
    "Per student budget": [per_student_budget],
    
    "Average math score": [round((average_math_score),2)],
    
    "Average reading score": [round((average_reading_score),2)],
    
    "% Passed Math": [round(passing_math_percentage,2)],
    
    "% passing reading": [round(passing_reading_percentage,2)],
    
    "% Overall Passing": [round(overall_passing_rate,2)]
    
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total school budget"] = district_summary["Total school budget"].map("${:,.2f}".format)
district_summary["Per student budget"] = district_summary["Per student budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total school budget,Per student budget,Average math score,Average reading score,% Passed Math,% passing reading,% Overall Passing
0,15,"39,170","$82,932,329,558.00","$2,117,240.99",78.99,81.88,74.98,85.81,65.17

In [16]:
# Use the code provided to select all of the school types
all_school_types = combined_df["type"].unique()
all_school_types

array(['District', 'Charter'], dtype=object)

In [17]:
# Use the code provided to select all of the school types
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [18]:
# Calculate the total student count per school
per_school_counts = combined_df['school_name'].value_counts().map("{:,}".format)
per_school_counts

school_name
Bailey High School       4,976
Johnson High School      4,761
Hernandez High School    4,635
Rodriguez High School    3,999
Figueroa High School     2,949
Huang High School        2,917
Ford High School         2,739
Wilson High School       2,283
Cabrera High School      1,858
Wright High School       1,800
Shelton High School      1,761
Thomas High School       1,635
Griffin High School      1,468
Pena High School           962
Holden High School         427
Name: count, dtype: object

In [19]:
# Calculate the total school budget per school
per_school_budget = combined_df.groupby(['school_name']).sum()["budget"].map("${:,.2f}".format)
per_school_budget

school_name
Bailey High School       $15,549,641,728.00
Cabrera High School       $2,009,159,448.00
Figueroa High School      $5,557,128,039.00
Ford High School          $4,831,365,924.00
Griffin High School       $1,346,890,000.00
Hernandez High School    $14,007,062,700.00
Holden High School          $105,933,149.00
Huang High School         $5,573,322,295.00
Johnson High School      $14,733,628,650.00
Pena High School            $563,595,396.00
Rodriguez High School    $10,186,904,637.00
Shelton High School       $1,860,672,600.00
Thomas High School        $1,705,517,550.00
Wilson High School        $3,012,587,442.00
Wright High School        $1,888,920,000.00
Name: budget, dtype: object

In [20]:
# Calculate the total per capita spending per school
per_school_capita = (combined_df.groupby(['school_name']).sum()["budget"] / combined_df['school_name'].value_counts()).map("${:,.2f}".format)
per_school_capita

# Preferred to code as follows: 
# per_school_capita = per_school_budget/per_school_counts
# I believe previous formatting cause syntax error for the code structure

school_name
Bailey High School       $3,124,928.00
Cabrera High School      $1,081,356.00
Figueroa High School     $1,884,411.00
Ford High School         $1,763,916.00
Griffin High School        $917,500.00
Hernandez High School    $3,022,020.00
Holden High School         $248,087.00
Huang High School        $1,910,635.00
Johnson High School      $3,094,650.00
Pena High School           $585,858.00
Rodriguez High School    $2,547,363.00
Shelton High School      $1,056,600.00
Thomas High School       $1,043,130.00
Wilson High School       $1,319,574.00
Wright High School       $1,049,400.00
dtype: object

In [21]:
# Calculate the average test scores per school
per_school_math = student_data.groupby(['school_name']).mean(['math_score'])
per_school_math

                       Student ID  reading_score  math_score
school_name
Bailey High School        20358.5      81.033963   77.048432
Cabrera High School       16941.5      83.975780   83.061895
Figueroa High School       4391.0      81.158020   76.711767
Ford High School          36165.0      80.746258   77.102592
Griffin High School       12995.5      83.816757   83.351499
Hernandez High School      9944.0      80.934412   77.289752
Holden High School        23060.0      83.814988   83.803279
Huang High School          1458.0      81.182722   76.629414
Johnson High School       32415.0      80.966394   77.072464
Pena High School          23754.5      84.044699   83.839917
Rodriguez High School     28035.0      80.744686   76.842711
Shelton High School        6746.0      83.725724   83.359455
Thomas High School        38352.0      83.848930   83.418349
Wilson High School        14871.0      83.989488   83.274201
Wright High School        25135.5      83.955000   83.682222

In [22]:
passing_math_count = combined_df.groupby(["school_name"]).count()["student_name"]
passing_math_count

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [33]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = combined_df.groupby(["school_name"]).count()["math_score"] >= 70
students_passing_math = combined_df.groupby(["school_name"]).count()["student_name"]
students_passing_math

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [33]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = combined_df.groupby(["school_name"]).count()["math_score"] >= 70
students_passing_math = combined_df.groupby(["school_name"]).count()["student_name"]
students_passing_math

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [ ]:
per_school_reading = combined_df.groupby(['school_name']).mean(['Average reading score'])
per_school_reading

# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary =  pd.DataFrame(
    {"Total Schools": [school_count],
        
    "Total Students": [student_count],

    "Total school budget": [total_budget],
    
    "Per student budget": [per_student_budget],
    
    "Average math score": [round((average_math_score),2)],
    
    "Average reading score": [round((average_reading_score),2)],
    
    "% Passed Math": [round(passing_math_percentage,2)],
    
    "% passing reading": [round(passing_reading_percentage,2)],
    
    "% Overall Passing": [round(overall_passing_rate,2)]
    
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total school budget"] = district_summary["Total school budget"].map("${:,.2f}".format)
district_summary["Per student budget"] = district_summary["Per student budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary